@{
    ViewBag.Title = "Create Doc";
}

<style>
    .innerText {
        font-size: 9.0pt;
        font-family: "Arial CYR",sans-serif;
        color: #080000;
    }

    input[type=date] {
        line-height: 19px;
    }


</style>

<p>
    <select id="formSelect">
        <option value=".contract" selected="selected">
            Contract Form
        </option>
        <option value=".internship">
            Internship Form
        </option>
        <option value=".mentor">
            Mentor Form
        </option>
    </select>
</p>

<div class="contract XmlForm">
    <form id="contractForm" action="Index">
        <p align=center style='text-align:center;'>
            <b>
                <span class="innerText">
                    Т Р У Д О В   Д О Г О В О Р
                </span>
            </b>
        </p>

        <p align=center style='text-align:center;'>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p align=center style='text-align:center;'>
            <span class="innerText">
                №<input type="text" id="contractNumber"/>/ Дата: <input type="date" id="contractDate" style="line-height: 17px" /> г.
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                Днес,  <input type="date" id="contractDate2" style="line-height: 17px" />г . , в гр. София, община <input type="text" id="community" />., се сключи настоящият трудов договор между:
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                1.<input type="text" id="contractEmployer" />, със адрес: <input type="text" id="contractAddress" />, № <input type="text" id="agencyNumber" /> на Агенцията по вписванията, заемащ длъжността Управител, наричан в този договор <b>РАБОТОДАТЕЛ</b>
            </span>
        </p>

        <p>
            <span class="innerText">
                и
            </span>
        </p>

        <p>
            <span class="innerText">
                2.<input type="text" id="contractEmployee" />,наричан в този договор <b>СЛУЖИТЕЛ</b>
            </span>
        </p>

        <p>
            <span class="innerText">
                с адрес:  гр <input type="text" id="employeeCity" /> ЕГН <input type="text" id="employeeIDN" />, л.к. <input type="text" id="identityCardNumber" /> , изд. на <input type="date" id="identityCardCreateDate" />
            </span>
        </p>

        <p>
            <span class="innerText">
                с образование  и специалност: <input type="text" id="firstSpecialty" />,
            </span>
        </p>

        <p>
            <span class="innerText">
                Диплома № <input type="text" id="firstDiplomaNumber" /> / <input type="date" id="firstDiplomaDate" /> г. от<input type="text" id="firstDiplomaCreator" />
            </span>
        </p>

        <p>
            <span class="innerText">
                и друга специалност <input type="text" id="secondSpecialty" /> -,
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                Диплома № - <input type="text" id="secondDiplomaNumber" /> / <input type="date" id="secondDiplomaDate" /> г, от <input type="text" id="secondDiplomaCreator" />,
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                с трудов стаж: <input type="text" id="workExperienceYears" /> г.,
                <input type="text" id="workExperienceMonths" /> месеца и <input type="text" id="workExperienceDays" /> дни - словом: <input type="text" id="workExperienceYearsWords" /> години,
                <input type="text" id="workExperienceMonthsWords" /> месеца и <input type="text" id="workExperienceDaysWords" /> дни, (не)пенсиониран(а) поради навършена пределна възраст, нетрудоспособност и т. н.
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                <b>I.  Предмет и срок на договора</b>
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                1.  РАБОТОДАТЕЛЯТ възлага, а СЛУЖИТЕЛЯТ приема да заема длъжността <input type="text" id="workPosition" /> , шифър по  НКПД <input type="text" id="positionCode" /> , която включва отговорностите, изброени в приложената длъжностна характеристика, с която служителят предварително се е запознал и му е връчен екземпляр от нея и да изпълнява възложените му задачи съгласно бизнес-плана на Дружеството.
            </span>
        </p>

        <p>
            <span class="innerText">
                2.  Мястото на работа е: <input type="text" id="workPlace" />
            </span>
        </p>

        <p>
            <span class="innerText">
                3.  Работно време: <input type="text" id="workTime" />
            </span>
        </p>

        <p>
            <span class="innerText">
                4.  Договорът се сключва <input type="text" id="testTerm" /> срок на изпитване, в полза на работодателя, смятано от датата на постъпване на работа.
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    II.  Възнаграждение
                </b>
            </span>
        </p>

        <p>
            <span class="innerText">
                5.  Основното месечно трудово възнаграждение е в размер на <input type="text" id="payment" /> . словом: <input type="text" id="paymentWords" /> , което ще се изплаща еднократно и окончателно до 20-то число на месеца, следващ месеца, за който се отнася.
            </span>
        </p>

        <p>
            <span class="innerText">
                6. <b>Служителят</b> ще получава допълнително възнаграждение в зависимост от трудовия му стаж, възлизащо на 0,6% за всяка прослужена година на същата или сходна длъжност.
            </span>
        </p>

        <p>
            <span class="innerText">
                7.  <b>Служителят</b> може да получава допълнително заплащане към основното си трудово възнаграждение, по преценка на Дружеството и в зависимост от степента на изпълнение на служебните му задължения.
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    III.  Други условия
                </b>
            </span>
        </p>

        <p>
            <span class="innerText">
                8. <b>Служителят</b> има право на 20  (словом двадесет) работни дни основен платен годишен отпуск.  Допълнителен платен годишен отпуск ще бъде договарян между страните всяка година през месец април след предложение, направено от прекия ръководител.
            </span>
        </p>

        <p>
            <span class="innerText">
                9. <b>Служителят</b> трябва да постъпи на работа в седемдневен срок от връчването на завереното от НАП уведомление.
            </span>
        </p>

        <p>
            <span class="innerText">
                10. <b>До изтичане срока на договора</b>, страната в чиято полза е сключен има право да го прекрати без предизвестие. Другата страна дължи предизвестие 1 /един/ месец. В случай, че договорът премине в безсрочен, срока на предизвестие при прекратяване на трудовото правоотношение се определя на 1/един/ месец и за двете страни.
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    Приложение:  Длъжностна характеристика
                </b>
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    Служител:
                </b>
                ………………
                <b>
                    Работодател:
                </b>
                ……………… ………………
            </span>
        </p>

        <p>
            <span lang=BE class="innerText">
                ………………………………
            </span>
            <span lang=BE class="innerText">
                ………………………………
            </span>
            <span class="innerText">
                , Управител
            </span>
        </p>

        <p>
            <span class="innerText">
                Служителят постъпи на работа на: <input type="date" id="dateStartJob" />
            </span>
        </p>

        <button type="button" onclick="CreateModule.CodeLogic.submitContractForm(event)">Submit</button>
    </form>
</div>

<div class="internship XmlForm">
    <form id="internshipForm" action="Index">
        <p align=center style='text-align:center;'>
            <b>
                <span class="innerText">
                    БЛАНКА ЗА ПРОВЕДЕН СТАЖ
                </span>
            </b>
        </p>

        <p align=center style='text-align:center;'>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p align=center style='text-align:center;'>
            <span class="innerText">
                №<input type="text" id="internshipNumber" />/ Дата: <input type="text" id="internshipDate" /> г.
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            Настоящата бланка се издава във връзка с провеждане на Учебно-практически стаж.
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            Фирмата <input type="text" id="internshipCompany" /> със седалище и адрес на управление <input type="text" id="internshipCompanyTown" /> регистрирана по фирмено дело № <input type="text" id="internshipCompanyNumber" /> по описа на
        </p>
        <p>
            СГС, булстат <input type="text" id="internshipCompanyBulstat" />, представлявана от <input type="text" id="internshipCompanyLeaderName" />, ЕГН: <input type="text" id="internshipCompanyLeaderEgn" /> ,издава настоящия документ
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            на
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <input type="text" id="internshipStudentName" /> с ЕГН: <input type="text" id="internshipStudentEgn" /> и л.к. <input type="text" id="internshipStudentLK" /> издадена от <input type="text" id="internshipStudentLKMVR" /> на <input type="text" id="internshipStudentLKDate" />г.
        </p>

        <p>
            Адрес: гр. <input type="text" id="internshipStudentAddressTown" />, ул. <input type="text" id="internshipStudentAddressStreet" /> № <input type="text" id="internshipStudentAddressStreetNumber" />, тел: <input type="text" id="internshipStudentTelephoneNumber" />.
        </p>

        <p>
            Студент в <input type="text" id="internshipStudentUniversity" /> гр. <input type="text" id="internshipStudentUniversityTown" />, <input type="text" id="internshipStudentCourse" /> курс <input type="text" id="internshipStudentGrade" />, факултет <input type="text" id="internshipStudentFaculty" />
        </p>

        <p>
            фак.н.<input type="text" id="internshipStudentNumber" />.
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            Студентката/а е преминал стаж на тема <input type="text" id="internshipName" />
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            По време на стажа основните задачи са:
        </p>
        <textarea name="message" rows="5" cols="170" id="internshipTasks"></textarea>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            Стажа се провеждаше под наблюдението на ментор <input type="text" id="internshipMentorName" />, работещ като <input type="text" id="internshipMentorPosition" />.
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            Добитите и развитите качества по време на стажа са:
        </p>
        <textarea name="message" rows="5" cols="170" id="internshipAcquiredSkills"></textarea>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            Препоръки и мнение от ментора за стажанта:
        </p>
        <textarea name="message" rows="5" cols="170" id="internshipRecommendations"></textarea>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            Оценка: <input type="text" id="internshipAppraisalWord" /> ( <input type="text" id="internshipAppraisal" /> )
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p align=center style='text-align:left;'>
            <span class="innerText">
                Дата: <input type="text" id="internshipCurrentDate" /> г.
            </span>
        </p>

        <p align=center style='text-align:right;'>
            <span class="innerText">
                /................................/<br>
                Ментор: <input type="text" id="internshipMentorName" />
            </span>
        </p>

        <p align=center style='text-align:left;'>
            <span class="innerText">
                гр.: <input type="text" id="internshipCurrentTown" />
            </span>
        </p>

        <p align=center style='text-align:right;'>
            <span class="innerText">
                /................................/<br>
                Управител: <input type="text" id="internshipCompanyLeaderName" />
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <button type="button" onclick="CreateModule.CodeLogic.submitInternshipForm(event)">Submit</button>
    </form>
</div>

<div class="mentor XmlForm">
    <form id="mentorForm" action="Index">
        <p style="text-align:center;">БЛАНКА ЗА НАСТАВНИК</p>
        <p style="text-align:center;">
            № на бланката: <input type="text" id="mentorNumber" />
            </p>
        <p style="text-align:center;">
            Дата (ДД-ММ-ГГГГ): <input size="2" maxlength="2" type="text" id="mentorDay" /> - <input size="2" maxlength="2" type="text" id="mentorMonth" /> - <input size="2" maxlength="4" type="text" id="mentorYear" />
        </p>
        <p style="font-weight:bold;">
            Данни на Ментора
        </p>
        <p>
            Име: <input type="text" id="mentorFirstName" />
        </p>
        <p>
            Презиме: <input type="text" id="mentorMiddleName" />
        </p>
        <p>
            Фамилия: <input type="text" id="mentorLastName" />
        </p>
        <p>
            Организация: <input type="text" id="mentorOrganization" />
        </p>
        <p style="font-weight:bold;">
            Данни на студента
        </p>
        <p>
            Име: <input type="text" id="mentorFirstNameStudent" />
        </p>
        <p>
            Презиме: <input type="text" id="mentorMiddleNameStudent" />
        </p>
        <p>
            Фамилия: <input type="text" id="mentorLastNameStudent" />
        </p>
        <p>
            Дата на изработените часове (ДД-ММ-ГГГГ): <input size="2" maxlength="2" type="text" id="mentorStudentDay" /> - <input size="2" maxlength="2" type="text" id="mentorStudentMonth" /> - <input size="2" maxlength="4" type="text" id="mentorStudentYear" />
        </p>
        <p>
            Час на пристигане (ЧЧ-ММ): <input type="text" id="mentorStudentArrivalHour" /> - input type="text" id="mentorStudentArrivalMinutes" />
        </p>
        <p>
            Час на приключване(ЧЧ-ММ): <input type="text" id="mentorStudentLeavingHour" /> - <input type="text" id="mentorStudentLeavingMinutes" />
        </p>
        <p>
            Описание на работата: <input type="text" id="mentorStudentDescription" />
        </p>
        <p>
           Оценка на свършената работа (1-10): <input type="text" id="mentorStudentRating" />
        </p>
        <button type="button" onclick="CreateModule.CodeLogic.submitMentorForm(event)">Submit</button>
    </form>
</div>

<script src="~/Scripts/PagesScript/CreatePageScript.js"></script>