@{
    ViewBag.Title = "Create Doc";
}

<style>
    .innerText {
        font-size:9.0pt;
        font-family:"Arial CYR",sans-serif;
        color:#080000;
    }
</style>

<p>
    <select id="formSelect">
        <option value=".contract" selected="selected">
            Contract Form
        </option>
        <option value=".service">
            Service Form
        </option>
        <option value=".mentor">
            Mentor Form
        </option>
    </select>
</p>

<div class="contract XmlForm">
    <form>
        <p align=center style='text-align:center;'>
            <b>
                <span class="innerText">
                    Т Р У Д О В   Д О Г О В О Р
                </span>
            </b>
        </p>

        <p align=center style='text-align:center;'>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p align=center style='text-align:center;'>
            <span class="innerText">
                №……./ Дата: ………………… г.
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                Днес,  …………….г . , в гр. София, община ……………….,
            </span>
        </p>

        <p>
            <span class="innerText">
                на основание …………………………………………… от Кодекса на труда, се сключи настоящият трудов договор между:
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                1.…………………….- София  със седалище в:…………………………………., ЕИК ………………., фирмено дело ……………… или № ……………… на Агенцията по вписванията представляван от
            </span>
            <span lang=BE class="innerText">
                ………………
            </span>
            <span class="innerText">
                , заемащ длъжността Управител, наричан в този договор <b>РАБОТОДАТЕЛ</b>
            </span>
        </p>

        <p>
            <span class="innerText">
                и
            </span>
        </p>

        <p>
            <span class="innerText">
                2.………………,наричан в този договор <b>СЛУЖИТЕЛ</b>
            </span>
        </p>

        <p>
            <span class="innerText">
                с адрес:  гр ……………… ЕГН ………………, л.к. ……………… , изд. на ………………
            </span>
        </p>

        <p>
            <span class="innerText">
                с образование  и специалност: ………………………………………………,
            </span>
        </p>

        <p>
            <span class="innerText">
                Диплома № ……………… / ……………… г. от………………
            </span>
        </p>

        <p>
            <span class="innerText">
                и друга специалност ……………………………………………… -,
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                Диплома № - ………………/………………г, от ………………,
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                с трудов стаж: ……………… г., ……………… месеца и ……………… дни - словом: ……………… години, ……………… месеца и ……………… дни, (не)пенсиониран(а) поради навършена пределна възраст, нетрудоспособност и т. н.
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                <b>I.  Предмет и срок на договора</b>
            </span>
        </p>

        <p class=MsoNormal>
            <span class="innerText">
                1.  РАБОТОДАТЕЛЯТ възлага, а СЛУЖИТЕЛЯТ приема да заема длъжността ……………… , шифър по  НКПД ……………… , която включва отговорностите, изброени в приложената длъжностна характеристика, с която служителят предварително се е запознал и му е връчен екземпляр от нея и да изпълнява възложените му задачи съгласно бизнес-плана на Дружеството.
            </span>
        </p>

        <p>
            <span class="innerText">
                2.  Мястото на работа е: ………………
            </span>
        </p>

        <p>
            <span class="innerText">
                3.  Работно време: ………………
            </span>
        </p>

        <p>
            <span class="innerText">
                4.  Договорът се сключва ……………… срок на изпитване, в полза на работодателя, смятано от датата на постъпване на работа.
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    II.  Възнаграждение
                </b>
            </span>
        </p>

        <p>
            <span class="innerText">
                5.  Основното месечно трудово възнаграждение е в размер на ……………… . словом: ……………… , което ще се изплаща еднократно и окончателно до 20-то число на месеца, следващ месеца, за който се отнася.
            </span>
        </p>

        <p>
            <span class="innerText">
                6. <b>Служителят</b> ще получава допълнително възнаграждение в зависимост от трудовия му стаж, възлизащо на 0,6% за всяка прослужена година на същата или сходна длъжност.
            </span>
        </p>

        <p>
            <span class="innerText">
                7.  <b>Служителят</b> може да получава допълнително заплащане към основното си трудово възнаграждение, по преценка на Дружеството и в зависимост от степента на изпълнение на служебните му задължения.
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    III.  Други условия
                </b>
            </span>
        </p>

        <p>
            <span class="innerText">
                8. <b>Служителят</b> има право на 20  (словом двадесет) работни дни основен платен годишен отпуск.  Допълнителен платен годишен отпуск ще бъде договарян между страните всяка година през месец април след предложение, направено от прекия ръководител.
            </span>
        </p>

        <p>
            <span class="innerText">
                9. <b>Служителят</b> трябва да постъпи на работа в седемдневен срок от връчването на завереното от НАП уведомление.
            </span>
        </p>

        <p>
            <span class="innerText">
                10. <b>До изтичане срока на договора</b>, страната в чиято полза е сключен има право да го прекрати без предизвестие. Другата страна дължи предизвестие 1 /един/ месец. В случай, че договорът премине в безсрочен, срока на предизвестие при прекратяване на трудовото правоотношение се определя на 1/един/ месец и за двете страни.
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    Приложение:  Длъжностна характеристика
                </b>
            </span>
        </p>

        <p>
            <span class="innerText">
                &nbsp;
            </span>
        </p>

        <p>
            <span class="innerText">
                <b>
                    Служител:
                </b>
                ………………
                <b>
                    Работодател:
                </b>
                ……………… ………………
            </span>
        </p>

        <p>
            <span lang=BE class="innerText">
                ………………………………
            </span>
            <span lang=BE class="innerText">
                ………………………………
            </span>
            <span class="innerText">
                , Управител
            </span>
        </p>

        <p>
            <span class="innerText">
                Служителят постъпи на работа на:………………………………
            </span>
        </p>
    </form>
</div>
<div class="service XmlForm"> no service</div>
<div class="mentor XmlForm"> no mentor</div>

<script src="~/Scripts/PagesScript/CreatePageScript.js"></script>