<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="color: white; margin-top: 15px">
            <div class="col-md-4">
                XML Form Manager
            </div>
            <div class="col-md-4">
                <a href="/Create/Index">Create New</a>
            </div>
            <div class="col-md-4">
                <a href="/Home/AllDocs">All Documents</a>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top: 60px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - XML Form Manager</p>
        </footer>
    </div>
</body>
</html>