@model IEnumerable<XML.FormManager.Models.AllDocsModel>
@{
    ViewBag.Title = "All Documents";
}

@foreach (var item in Model)
{
    <p>@item.Type</p>
    foreach (var form in item.Names)
    { 
        <p>@form</p>
    }
}