@model IEnumerable<XML.FormManager.Models.AllDocsModel>
@{
    ViewBag.Title = "All Documents";
}

@foreach (var item in Model)
{
    <p>Form type: @item.Type</p>
    foreach (var form in item.Names)
    { 
        <p>Name: @form</p>
    }
}